.entry {
    height: 150px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    background-color: white;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #b3b3b3;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

#welcome {
    text-align: right;
}

body {
    margin: 0;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

h2 {
    text-align: center;
}

#rest {
    background-image: url("carrier.jpg");
    height: 100%;
}
#add {
    text-align: center;
}

#login {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

#editpage {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.entryedit {
    height: 150px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}