<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Fleet Manager</title>
</head>
<body>
<div id="header">
    <h1>Fleet Manager</h1>
</div>
<div id="welcome">Welcome, <b>{{username}}</b>.
    <form action="/logout" method="post" style="display: inline-block;">
        <button type="submit">Log out</button>
    </form>
</div>
<div id="add">
    <form action="/add-aircraft" method="post">
        <input type="text" placeholder="Model Name" name="model" />
        <input type="text" placeholder="Manufacturer" name="manufacturer" />
        <input type="text" placeholder="Service Branch" name="serviceBranch" />
        <input type="text" placeholder="Role" name="role" />
        <input type="text" placeholder="Cost (USD)" name="cost" />
        <br><button type="submit">Add</button>
    </form>
</div>
<div id="rest">
<h2>Your Fleet:</h2>
<ol>
{{#fleet}}
    <div class="entry">
        <p style="text-align: center;"><b>{{model}}</b></p>
        Manufacturer: {{manufacturer}}<br>
        Service Branch: {{serviceBranch}}<br>
        Role: {{role}}<br>
        Unit Cost: ${{unitCost}}<br>
        <form action="/delete-aircraft" method="post" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Remove</button>
        </form>
        <form action="/edit" method="get" style="display: inline-block;">
            <input type="hidden" name="eid" value="{{id}}" />
            <button type="submit">Edit</button>
        </form>
    </div>
    {{/fleet}}
</ol>
</div>
</body>
</html>